@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
body{
	background-color: #404040;
}
div{
	margin: 0 auto;
	width: 40%;
	padding: 5% 10% 100% 10%;
	background-color: #1a1a1a;
	box-shadow: 7px 10px 6px #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}
h1{
	padding-bottom: 10%;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Anton', sans-serif;
	font-size: 3em;
	text-align: center;
}

.pergunta{
	margin-bottom: 10%;
}
.pergunta h3{
	margin-bottom: 3%;
	margin-left: -3%;
}
.pergunta h3 strong{
	font-weight: bolder;
}
.pergunta li{
	margin-bottom: 1%;
	list-style-type: lower-alpha;
}
.pergunta li:hover{
	background-color: #404040;
}
#botao{
	padding: 3% 10%;
	background-color: #ff0066;
	border: none;
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size: 1em;
	margin-left: -3%;
}
#resposta{
	margin-left: 5%;
}
